* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

nav {
	padding: 15px;
	background: #ccc;
}

nav a {
	color: darkred;
	text-decoration: none;
	margin-right: 10px;
}

nav.dashboard {
	background: #f3f1f1;
	padding: 8px;
}

form {
	margin: 1rem auto;
	padding: 1rem;
	background: #ebebeb;
	border-radius: 6px;
	max-width: 500px;
}

input,
textarea {
	font-size: 1rem;
	margin-top: 10px;
	width: 100%;
	padding: 5px;
}

textarea {
	height: 200px;
}

button {
	font-size: 1rem;
	margin-top: 10px;
}

.container {
	max-width: 1100px;
	margin: 1rem auto;
	padding: 0 1rem 1rem;
}

.form-error {
	background: #fbb;
	color: darkred;
	padding: 0.5rem 1rem;
}

ul.posts {
	list-style: none;
	padding: 0;
}

ul.posts li {
	background: #ebebeb;
	margin-bottom: 5px;
	padding: 10px;
}

ul.posts a {
	color: darkred;
	font-weight: bold;
}

.success {
	padding: 1rem;
	margin: 10px 0;
	background: green;
	color: white;
}
